/* ######### HEADER ######### */
header {
  margin: auto;
  width: min(90%, 112rem);

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem;
}

/* LOGO + TOGGLE BUTTON */
#logo {
  width: 10rem;
}
#logo img {
  width: 100%;
}

.toggle-button {
  position: absolute;
  top: 3rem;
  right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 4rem;
  height: 3rem;
}

.toggle-button .bar {
  height: 0.5rem;
  width: 100%;
  background-color: #e2541c;
  border-radius: 1rem;
}

.header-menu {
  width: 100%;
  display: none;
}

/* MENU LIST */
.header-menu ul {
  width: 100%;
  list-style-type: none;
}
.header-menu.active {
  display: flex;
  flex-direction: column;
}

.header-menu ul li {
  margin-top: 3rem;
  text-align: center;
}
.header-menu ul li a {
  color: #e2541c;
  font-weight: 700;
  font-size: 1.6rem;

  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;

  cursor: pointer;
  transition: 0.1s;
}

.header-menu ul li a:hover {
  opacity: 0.6;
  color: #06b1cf;
}

.header-menu ul .header-menu-active a {
  color: #06b1cf;
}

/* FORM PESQUISAR */

#header-form {
  display: flex;
  justify-content: center;

  width: 80%;
  margin: auto;
  margin-top: 1rem;
}

#header-form input {
  font: 400 1.8rem/1 "Roboto", sans-serif;
  color: #574d49;

  background: none;

  border: 1px solid #f3f3f4;
  box-shadow: 1px 1px 1px #f3f3f4;
  border-right: none;

  padding: 0.5rem;
}
#header-form input:focus,
#header-form button:focus {
  outline: none;
}
#header-form button {
  background: none;

  border: none;
  border: 1px solid #f3f3f4;
  box-shadow: 1px 1px 1px #f3f3f4;

  padding: 0.5rem 2rem 0.1em 2rem;
  cursor: pointer;
}

#header-form button:hover {
  opacity: 0.7;
}

.search-icons {
  color: #e2541c;
}
/* ################################### */
/* ######### Desktop Version ######### */
/* ################################### */

@media (min-width: 760px) {
  header {
    align-items: center;
    justify-content: space-between;
    flex-direction: initial;

    width: 90%;
  }

  .header-menu {
    display: flex;
    align-items: center;

    width: initial;

    padding: 0;
    margin: 0;
  }

  .header-menu.active {
    display: flex;
    flex-direction: initial;
  }

  #header-form {
    margin-top: 0;
    margin-left: 2rem;
    width: initial;
  }

  #header-form input {
    width: 12rem;
  }

  #header-form button {
    width: initial;
  }

  .header-menu ul {
    display: initial;
    margin: 0;
  }
  .header-menu ul li {
    display: inline;
  }
  .toggle-button {
    display: none;
  }
}
